DB_USER=workcounter
DB_PASSWORD=changeme_db_password_here

SESSION_SECRET=changeme_session_secret_min_32_chars

AUTHENTIK_SECRET_KEY=changeme_authentik_secret_min_50_chars
AUTHENTIK_CLIENT_ID=your_authentik_client_id
AUTHENTIK_CLIENT_SECRET=your_authentik_client_secret

FRONTEND_PORT=3000
BACKEND_PORT=3001
AUTHENTIK_PORT=9000

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3001
AUTHENTIK_URL=http://localhost:9000
